<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %><%= config.title %></title>
        <meta charset="utf-8">
        <meta name="description" content="<%- config.description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %><%= config.title %>">
        <meta property="og:description" content="<%- config.description %>">
        <meta property="og:image" content="https://<%- config.root_domain %>/images/logo.png">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %><%= config.title %>">
        <meta name="twitter:description" content="<%- config.description %>">
        <meta name="twitter:image" content="https://<%- config.root_domain %>/images/logo.png">

        <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=<%= config.title %>' rel='stylesheet' type='text/css'>

        <!-- main page styles -->
        <%- css(isIndex ? 'css/index' : 'css/page') %>
        
        <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

        <script>window.PAGE_TYPE = "<%- page.type %>"</script>

        <!-- ga -->
        <script>

            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            /**
            * Function that tracks a click on an outbound link in Analytics.
            * This function takes a valid URL string as an argument, and uses that URL string
            * as the event label. Setting the transport method to 'beacon' lets the hit be sent
            * using 'navigator.sendBeacon' in browser that support it.
            */
            var trackOutboundLink = function(url) {
                ga('send', 'event', 'outbound', 'click', url, {
                    'transport': 'beacon',
                    'hitCallback': function(){document.location = url;}
                });
            }

            ga('create', '<%- config.google_analytics_tracking_id %>', 'auto');
            ga('send', 'pageview');
        </script>
    </head>

    <body class="<%- isIndex ? '' : 'docs' -%>">

        <div id="mobile-bar">
            <a class="menu-button"></a>
            <%- partial('partials/title') %>
        </div>
        <%- partial('partials/header') %>

        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <%- body %>
            </div>
        <% } else { %>
            <%- body %>
        <% } %>

        <script src="/js/smooth-scroll.min.js"></script>

        <!-- main custom script for sidebars, version selects etc. -->        
        <script src="/js/css.escape.js"></script>
        <script src="/js/common.js"></script>

        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
          FastClick.attach(document.body)
        }, false)
        </script>
    </body>
</html>
